html,body {
	width: 100%;
	height: 100%;
}
body {
    font-family: "Microsoft YaHei", "Arial", "Hiragino Sans GB", "sans-serif";
}
/* 清除浮动 */
.f-cb:after{
	content : "." ; 
	display: block; 
	clear: both; 
	height: 0; 
	overflow: hidden; 
	visibility: hidden;
}
.f-cb {
	zoom: 1;
}

/* 浮动 */
.f-fl {
	float: left;
}
.f-fr {
	float: right;
}

/* 文本居中 */
.f-tac {
	text-align: center;
}

/* 内联块级 */
.f-ib {
	display: inline-block;
}

/* 完全消失 */
.f-dn {
	display: none;
}

/* 隐藏元素 */
.f-vh {
	visibility: hidden;
}

/* 不可用 */
.z-dis {
	cursor: default;
}

/* chrome下8px无效解决 */
/*.f-fs-chrome {
	font-size: 8px;
	-webkit-transform:scale(0.67);
	-o-transform:scale(1); 
}
*/
/* sprite */
.m-msg i,
.m-logo i,
.u-btn-1 span,
.u-btn-2 .ic1,
.u-btn-2 .ic2,
.m-nav .topnav span, 
.m-intro .intro span,
.m-list-1 i,
.m-pager .prevs_page,
.m-pager .next_page,
.u-clsbtn,
.m-content .nums .nums_icon,
.u-num span,
.m-video .bar1,
.m-video .played span,
.m-video .pause_btn,
.m-video .start_btn,
.m-video .big_btn,
.m-video .ne_logo,
.m-video .vlm_icon {
	background: url(../img/sprite.png) 9999px 9999px no-repeat;
}

.m-card-video span,
.u-smbtn {
	background: url(../img/sprite24.png) 9999px 9999px no-repeat;
}

/* 顶部提示信息 */
.m-msg {
	width: 100%;	
	height: 36px;
	line-height: 36px;
	background: #f3f3f3;
	font-size: 12px;
	color: #333;
}
.m-msg a {
	text-decoration: none;
	color: #21a557;
}
.m-msg i {
	margin-right: 6px;
	width: 9px;
	height: 9px;
	background-position: 0 0;
	cursor: pointer;
}

.g-wrap {
	margin: 0 auto;
	width: 1205px;
}
@media screen and (max-width: 1204px) {
	.g-wrap {
		width: 958px;
	}
}


/* /顶部提示信息 */

/* 头部(导航及轮播图) */
.g-head {
	background: #fff;
}

.m-logo span {
	font-size: 28px;
	font-weight: bold;
	color: #39a030;
}
.m-logo h1 {
	margin-top: -1px;
	font-size: 22px;
	font-weight: normal;
}
.m-logo i {
	position: relative;
	top: 35px;
	margin: 0 12px 0 10px;
	width: 1px;
	height: 18px;
	vertical-align: middle;
	background-position: -74px -20px;
}

.m-logo-1 {
	margin-bottom: 14px;	
	line-height: 28px;
}
.m-logo-1 h1 {
	color: #39a030;	
}
.m-logo-1 i {
	top: 5px;
}

.u-btn {
	height: 21px;
	margin: 0 14px 0 30px;	
	font-size: 12px;
	line-height: 21px;	
	vertical-align: middle;
	border-radius: 2px;	
	text-align: center;
	cursor: pointer;			
}

.u-btn-1 {
	width: 54px;			
	background: #21a557;		
	color: #fff;
}
.u-btn-1 span {
	margin-right: 5px;
	width: 8px;
	height: 8px;
	background-position: 0 -20px;
}
.u-btn-1:hover {
	background: #2fb556;
}

.u-btn-2 {
	width: 106px;
	box-sizing: border-box;
	border: 1px solid #efefef;
	line-height: 19px;
	background-color: #f8f8f8;
	color: #333;
}
.u-btn-2 .ic1 {
	margin-right: 5px;
	width: 11px;
	height: 9px;
	background-position: -24px -20px;	
}
.u-btn-2 .ic2 {
	margin: 0 8px;
	width: 1px;
	height: 10px;
	background-position: -53px -20px;
}
.u-btn-2 a {
	color: #999;
}
.u-btn-2 a:hover {
	text-decoration: underline;
	color: #21a557;
}

.m-nav {
	line-height: 89px;
	font-family: "HiraginoSansGB W3","Microsoft YaHei", "Arial";
}
.m-nav .follow {
	float: left;
	font-size: 0;
	font-family: "宋体","Microsoft YaHei", "Arial";	
}
.m-nav .fans {
	height: 21px;
	font-size: 12px;	
	line-height: 21px;	    
	vertical-align: middle;
	color: #666;
}
.m-nav .topnav {
	float: right;
	margin: 0;
	font-size: 0;
	list-style: none;

}
.m-nav .topnav span {
	margin-left: 30px;
	width: 19px;
	height: 19px;
	cursor: pointer;
	background-position: 0 -41px;
	vertical-align: middle;		
}
.m-nav .topnav span:hover {
	background-position: -24px -41px;	
}
.m-nav .topnav li {
	display: inline;
	font-size: 16px;
	line-height: 89px;
	margin-left: 55px;
	vertical-align: middle;
}
.m-nav a {
	text-decoration: none;
	color: #666;
}
.m-nav a:hover {
	color: #39a030;
}

.m-slider {
	position: relative;
	width: 100%;
	height: 460px;
	overflow: hidden;
}
.m-slider .slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	filter: "alpha(opacity=0)";
}
.m-slider .crt_slide {
	opacity: 1;
	filter: "alpha(opacity=100)";	
	z-index: 1;
}
.m-slider .pointer {
	position: absolute;
	bottom: 20px;
	left: 50%;
	margin-left: -26px;
	width: 52px;
	height: 10px;
	font-size: 0;  
	line-height: 0;
	z-index: 10;
}
.m-slider i {
	display: inline-block;
	margin-left: 11px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	cursor: pointer;
	background: #fff;
}
.m-slider .crt_point {
	background: #000;
}
.m-slider i:first-child {
	margin-left: 0;
}

.m-intro {
	padding-top: 60px;
	height: 235px;
}
.m-intro .intro {
	float: left;
	width: 344px;
	height: 180px;
	margin-left: 80px;
}
.m-intro .intro:first-child{
	margin-left: 5px;
}
.m-intro .irwrap {
	padding-left: 100px;
}
.m-intro h3 {
	margin: 0;	
	font-size: 22px;
	font-weight: normal;
	line-height: 20px;
	color: #333;
}
.m-intro p,
.m-intro a {
	margin: 15px 0 24px;
	font-size: 14px;
	line-height: 24px;
	color: #666;
}
.m-intro a {
	text-decoration: none;
	color: #39a030;
}
.m-intro a:hover {
	text-decoration: underline;
}
.m-intro .intro span {
	margin-top: 7px;
	width: 80px;
	height: 80px;
}
.m-intro span.openlogo {
	background-position: -109px 0;
}
.m-intro span.studylogo {
	background-position: -109px -86px;
}
.m-intro span.mooclogo {
	background-position: -200px 0;
}
@media screen and (max-width: 1204px){
	.m-intro .intro {
		width: 272px;
		margin-left: 71px;
	}
	.m-intro .intro:first-child{
		margin-left: 0;
	}	
}

/* /头部(导航及轮播图) */


/* 主体（课程） */
.g-body {
	width: 100%;
	padding-top: 2px;
	overflow: hidden;
	background: #f8f8f8;
}

.m-imgcolm {
	position: relative;
	left: 50%;
	margin-left: -808px;
	width: 1616px;
	height: 220px;
}
.m-imgcolm img {
	float: left;
	margin-left: 4px;
}
.m-imgcolm img:first-child {
	margin-left: 0;
}

.g-body > div.g-wrap{
	padding-top: 80px;
}
.m-content {
	float: left;
	width: 980px;
	min-height: 275px;
	padding-bottom: 120px;	
}
@media screen and (max-width: 1204px) {
	.m-content {
		width: 735px;
	}
}
.m-content .tab {
	margin-bottom: 30px;
	width: 400px;
	height: 50px;
	line-height: 50px;
	background: #fff;
	color: #666;
	-webkit-box-shadow: 0 2px 1px #d4d3d3;;
	-moz-box-shadow: 0 2px 1px #d4d3d3;;
	-o-box-shadow: 0 2px 1px #d4d3d3;;
	box-shadow: 0 2px 1px #d4d3d3;;	
}
.m-content .tab h4 {
	float: left;	
	margin: 0;
	width: 200px;
	text-align: center;
	font-size: 20px;
	font-weight: normal;
	cursor: pointer;
}
.m-content .crt_tab {
	background: #39a030;
	color: #fff;
}
.m-content .courses {
	margin-bottom: 10px;
}

.m-course {
	position: relative;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	width: 225px;
	height: 228px;
	font-size: 0;  /* 消除图片与文字的间距 */ 
	background: #fff;
	-webkit-box-shadow: 0 1px 1px #e6e6e6;
	-moz-box-shadow: 0 1px 1px #e6e6e6;
	-o-box-shadow: 0 1px 1px #e6e6e6;
	box-shadow: 0 1px 1px #e6e6e6;		
} 
.m-course .summary {
	padding: 1px;
	color: #999;		
}
.m-course .summary_txt {
	padding: 10px 4px 9px;
}
.m-course h5 {
	margin: 0 0 10px 0;	
	font-weight: normal;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-size: 12px;	
	line-height: 12px;
	color: #333;
	cursor: pointer;	
}
.m-course p {
	margin: 0;
	font-size: 12px;	
	line-height: 12px;		
}
.m-course.free .cost {
	color: #48BB33;
}
.m-course img {
	width: 223px;
	height: 124px;
	cursor: pointer;
}
.m-course .nums {
	padding: 0 3px;
	margin: 10px 0 9px;	
	height: 16px;
	/*font-size: 8px;*/
	font-size: 0;
	line-height: 16px;
	border: 1px solid #999;
	border-radius: 2px;
}
.m-course .nums .nums_icon {
	margin-top: 3px;
	margin-right: 5px;
	width: 9px;
	height: 10px;
	background-position: -43px -106px;
}
.m-course .nums .nums_txt{
	vertical-align: top;
	font-size: 8px;
	-webkit-transform:scale(0.67);
	-o-transform:scale(1);
	-webkit-margin-start: -5px;
    -webkit-margin-end: -3px;
}
.m-course .cost {
	font-weight: bold;		
	color: #ff3f00;
}
.m-course:hover .detail {
	display: block;
	position: absolute;
	top: -10px;
	left: -10px;
	padding-top: 11px;
	width: 480px;
	height: 228px;
	background: #fff;
	-webkit-box-shadow: 0 0 3px 1px #d4d3d3;
	-moz-box-shadow: 0 0 3px 1px #d4d3d3;
	-o-box-shadow: 0 0 3px 1px #d4d3d3;
	box-shadow: 0 0 3px 1px #d4d3d3;
	color: #666;
	z-index: 1;
	overflow: hidden;			
}
.m-course:hover .detail img {
	float: left;
	margin-bottom: 20px;
	margin-left: 11px;
}
.m-course:hover .dtltxt_1 {
	margin-left: 257px;
}
.m-course:hover .dtltxt_1 h5 {
	margin: 4px 0 16px -4px;
	font-size: 18px;
	line-height: 18px;
}
.m-course:hover .author {
	margin: 13px 0 8px 0;
}
.m-course:hover .dtltxt_2 {
	padding: 10px 20px 0;
	height: 84px;
	background: #f8f8f8;
}
.m-course:hover .dtltxt_2 p {
	font-size: 14px;
	line-height: 24px;	
}


.m-pager {
	float: right;
	margin-right: 16px;
}
.m-pager ul {
	margin: 0;
    padding: 0;
	list-style: none;
	font-size: 0px;

}
.m-pager li {
	display: block;
	float: left;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	cursor: pointer;		
}
.m-pager a {
	display: block;
	margin: 0 4px;	
	width: 20px;
	height: 20px;
	color: #666;
	text-decoration: none;
}
.m-pager span {
	font-size: 14px;
}
.m-pager .prevs_page,
.m-pager .next_page {
	width: 30px;
}
.m-pager .pgr:hover {
	color: #fff;
	background: #9dd8b1;		
}
.m-pager .crt_page {
	cursor: default;
	color: #39a030;
}
.m-pager .crt_page:hover {
	color: #39a030;	
	background: none;
}
.m-pager .prevs_page {
	background-position: 0 -73px;
}
.m-pager .next_page {
	background-position: -44px -73px;
}

.m-card {
	width: 223px;
	padding-bottom: 20px;
	-webkit-box-shadow: 0 1px 1px #d4d3d3;
	-moz-box-shadow: 0 1px 1px #d4d3d3;
	-o-box-shadow: 0 1px 1px #d4d3d3;
	box-shadow: 0 1px 1px #d4d3d3;
	font-size: 0;
	background: #fff;	
}
.m-card h4 {
	margin: 0;
	padding-left: 20px;	
	height: 55px;
	border-bottom: 1px solid #ddd;	
	font-size: 16px;
	font-weight: normal;	
	line-height: 55px;
	color: #333;
}
.m-card p {
	margin: 0;
	font-size: 14px;
	color: #666;
}

.m-card-video {
	position: relative;
	margin: 3px 0 21px;
}
.m-card-video p {
	padding: 20px 0 9px 22px;
	line-height: 14px;	
}
.m-card-video .show_video {
	margin: 0 auto;	
	width: 180px;
	cursor: pointer;	
}
.m-card-video img {
	width: 180px;
}
.m-card-video .show_video span {
	position: absolute;
	bottom: 53px;
	left: 89px;
	width: 46px;
	height: 46px;
	background-position: 0 0;
}
.m-card-video .show_video:hover span {
	visibility: visible;
}

/* 视频播放模块 */
.m-video {
	position: fixed;
	top: 50%;
	left: 50%;
	/*margin-top: -338px;*/
	margin-top: -320px;
	margin-left: -475px;
	width: 950px;
	z-index: 1000;
	background: #fff;
}
.m-video p {
	font-size: 18px;
	line-height: 18px;
	padding: 29px 0 22px 31px;
	color: #444;
}
.m-video video {
	padding: 0 31px;
	width:889px;
	font-size: 0;
	cursor: pointer;
}
.m-video .control {
	padding: 0 31px 40px;
	width: 889px; 
}
.m-video .bar1 {
	position: relative;
	width: 100%;
	height: 22px;
	background-position: 0 -233px;
	background-repeat: repeat-x;
}
.m-video .video_btn {
	position: absolute;
	top: 1px;
	left: 0;
	width: 20px;
	height: 21px;
	border-right: 1px solid #2a2a2a;
}
.m-video .big_btn {
	position: absolute;
	top: -79px;
	left: 20px;
	width: 60px;
	height: 60px;
	background-position: -216px -89px;
	cursor: pointer;
}
.m-video .pause_btn,
.m-video .start_btn {
	position: absolute;
	top: 6px;
	left: 7px;
	width: 7px;
	height: 10px;
	cursor: pointer; 	
}
.m-video .pause_btn {
	background-position: 0 -261px; 	
}
.m-video .start_btn {
	background-position: -12px -261px; 	
}
.m-video .time {
	padding-left: 30px;
	height: 22px;
	line-height: 22px;
	font-size: 8px;
	color: #b6b6b6;
}		
.m-video .total_time {
	color: #575757;
}
.m-video .volume_bar {
	position: absolute;
	top: 0;
	right: 60px;
	padding: 9px 0;
	width: 70px;
	height: 4px;
	cursor: pointer;
}
.m-video .volume_bar .vbar {
	width: 70px;
	height: 4px;
	background: #171616;
}
.m-video .volume_bar .crt_vlm {
	width: 28px;
	height: 4px;	
	background: #717171;
}
.m-video .volume_bar:hover .crt_vlm {
	background: #159C12;
}

.m-video .vlm_icon {
	position: absolute;
	top: 1px;
	right: 135px;
	width: 10px;
	height: 21px;
	background-position: -39px -255px;
}

.m-video .ne_logo {
	position: absolute;
	top: 0;
	right: 0;
	width: 54px;
	height: 22px;
	background-position: 0 -277px;
}
.m-video .bar2 {
	position: relative;
	width: 100%;
	height: 7px;
	background: #393939;
	cursor: pointer;
}
.m-video .loaded {
	height: 7px;
	background: #555;
}
.m-video .played {
	position: absolute;
	top: 0;
	left: 0;
	width: 7px;
	height: 7px;
	background: #00a750;
}
.m-video .played span {
	width: 7px;
	height: 7px;
	background-position: -26px -261px;	
}

.m-card-top {
	margin-bottom: 200px;
}
.m-card-top .top_course {
	padding: 20px 15px 0 20px;
}
.m-card-top p {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	line-height: 14px;
	cursor: pointer;	
}
.top_course .course_name {
	margin-bottom: 13px;
	color: #333;	
}
.m-card-top .top_course img {
	float: left;
	margin-right: 12px;
	width: 50px;
	height: 50px;
	cursor: pointer;		
}

.u-num {
	font-size: 10px;
	line-height: 10px;
	color: #666;		
}
.u-num span {
	margin-right: 5px;
	width: 9px;
	height: 10px;
	background-position: -43px -106px;
}
.u-num-1 {
	font-size: 12px;
	line-height: 12px;
}

/* /主体（课程） */

/* 页脚 */
.g-foot {
	background: #2c3339;
}

.m-foot .ftlf {
	padding: 90px 0 80px 50px;
	margin-right: 150px;
}
@media screen and (max-width: 1204px) {
	.m-foot .ftlf {
		padding-left: 0;
	}
}

.m-foot .copy p {
	margin: 0;
	font-size: 12.5px;
	line-height: 25px;
	color: #fff;
	letter-spacing: 0.5px;
}
.m-foot .ftrt {
	padding: 80px 0 80px;
	letter-spacing: 0.5px;
}

.m-list {
	margin-right: 98px;
	color: #fff;
}
.m-list h6 {
	margin: 0 0 5px 0;
	font-size: 13px;
	line-height: 13px;
}
.m-list ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 15px;
	line-height: 28px;
}
.m-list a {
	color: #fff;
	text-decoration: none;
}
.m-list a:hover {
	text-decoration: underline;
}

.m-list-1 {
	margin-right: 72px;
}
.m-list-1 i {
	margin: 0 0 -3px 11px;
	width: 20px;
	height: 16px;
	background-position: 0 -106px;
}
.m-list-2 {
	margin-right: 0;
}
/* /页脚 */


/* 遮罩层 */
.m-mask {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 500;
	background: #3b3b3b;
	opacity: 0.7;
	filter: "alpha(opacity=70)";
}

/* 登入框 */
.m-login {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -193.5px;
	margin-top: -144px;
	width: 387px;
	height: 288px;
	z-index: 1000;	
	background: #fff;
}
.m-login .loginwrap {
	padding-top: 30px;
	padding-bottom: 40px;
	padding-left: 40px;
	font-size: 16px;
	line-height: 16px;
}
.m-login .wrong_tip {
	margin-top: -12px;
	margin-bottom: 5px;
	font-size: 12px;
	line-height: 12px;
	color: #D80000;
}
.m-login p {
	margin: 0 0 20px;
	font-size: 18px;
	line-height: 18px;
	color: #444;
}

.u-clsbtn {
	position: absolute;
	top: 0;
	right: 0;
	width: 23px;
	height: 22px;
	cursor: pointer;	
	background-position:  -264px -154px;
}
.u-ipt {
	position: relative;	
}
.u-ipt input {
	width: 293px;
	height: 43px;
	line-height: 43px; /* 解决IE8光标错位 */
	border: 1px solid #dfdfdf;
    box-shadow: 1px 1px 1px #f1f1f1 inset;	
	text-indent: 7px;
	color: #333;
}
.u-ipt .plhd {
	position: absolute;
	top: 15px;
	left: 10px;
	color: #ccc;
	cursor: text;
}
.u-ipt-u input {
	margin-bottom: 15px;
}
.u-ipt-p input {
	margin-bottom: 29px;
}
.u-smbtn {
	padding: 0;
	width: 295px;
	height: 48px;
	border: none;
	color: #fff;
	background-position: 0 -56px;
	letter-spacing: 2px;
}
