body {
    font-family: "Microsoft YaHei", "Arial", "Hiragino Sans GB", "sans-serif";
}

.clearfix:after{
	content : "." ; 
	display: block; 
	clear: both; 
	height: 0; 
	overflow: hidden; 
	visibility: hidden;
}
.clearfix {*zoom: 1;}


/* 顶部提示信息 */
.m-msg {
	width: 100%;	
	height: 36px;
	line-height: 36px;
	background: #f3f3f3;
	font-size: 12px;
	color: #333;
}

.m-msg a {
	text-decoration: none;
	color: #21a557;
}

.m-msg .lastspan {
	float: right;
}

.g-wrap {
	margin: 0 auto;
	width: 1206px;
}

/* /顶部提示信息 */

/* 头部(导航及轮播图) */
.m-nav {
	margin: 0 auto;		
	width: 1206px;
	height: 89px;
	line-height: 89px;
	background: #fff;
	font-family: "HiraginoSansGB W3", "Microsoft YaHei", "Arial", "sans-serif";
}

.m-nav .logo span {
	float: left;
	font-size: 28px;
	font-weight: bold;
	color: #39a030;
}

.m-nav h1 {
	float: left;
	font-size: 22px;
	font-weight: normal;
}

.m-nav .follow {
	float: left;
	font-size: 12px;
	font-family: "宋体", "Microsoft YaHei", "Arial", "sans-serif";	
}
.m-nav .flw-btn {
	display: inline-block;
	width: 54px;
	height: 21px;
	line-height: 21px;
	margin: 0 14px 0 31px;
	border-radius: 2px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;		
	background: #21a557;
	color: #fff;
}
.m-nav .flw-btn:hover {
	background: #2fb556;
}
.m-nav .fans {
    display: inline-block;
    height: 21px;
    line-height: 21px;	    
    vertical-align: middle;
	color: #666;
}

.m-nav .topnav {
	float: right;
	margin: 0;
	list-style: none;
}

.m-nav li {
	display: inline;
	margin-left: 55px;
}

.m-nav a {
	text-decoration: none;
	color: #666;
}

.m-nav a:hover {
	color: #39a030;
}

.m-slider {
	position: relative;
	width: 100%;
	height: 460px;
	overflow: hidden;
}

.m-slider .slide {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	filter: "alpha(opacity=0)";
}

.m-slider .crt_slide {
	opacity: 1;
	filter: "alpha(opacity=100)";	
	z-index: 1;
}

.m-slider .pointer {
	position: absolute;
	bottom: 20px;
	left: 50%;
	margin-left: -26px;
	width: 52px;
	height: 10px;
	font-size: 0;  
	line-height: 0;
	z-index: 1;
}

.m-slider i {
	display: inline-block;
	margin-left: 11px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	cursor: pointer;
	background: #fff;
}

.m-slider .crt_point {
	background: #000;
}

.m-slider i:first-child {
	margin-left: 0;
}

.m-intro {
	height: 295px;
	background: #DDCA85;
}

/* /头部(导航及轮播图) */


/* 主体（课程） */
.g-body {
	width: 100%;
	height: 1771px;
	padding-top: 2px;
	background: #f8f8f8;
}
.g-body .showimg {
	margin-bottom: 81px;
	width: 100%;
	height: 220px;
	background: #B8AAAA;
}

.m-content {
	float: left;
	width: 960px;	
	background: #B2B0B0;	
}

.m-content .tab {
	margin-bottom: 30px;
	width: 400px;
	height: 50px;
	line-height: 50px;
	background: #39a030;
}

.m-content .courses {
	margin-bottom: 10px;
	height: 1240px;
	background: #F79090;
}

.m-pager {
	float: right;
	width: 302px;
	height: 20px;
	background: #BF3E3E;
}

.m-ad {
	float: right;
	margin: 3px 0 21px;
	width: 223px;
	height: 229px;
	background: #81AD92;
}

.m-top {
	float: right;
	width: 223px;
	height: 778px;
	background: #C5C75F;
}

/* /主体（课程） */

/* 页脚 */
.g-foot {
	height: 262px;
	background: #2c3339;
}

/* /页脚 */